<h1>Contacts = {</h1>
<p style="margin-left: 20px;">_GITHUB="<a class="entrada-lista" href="https://github.com/RackGamesDev">RackGamesDev</a>";</p><img src="../public/logos/GithubL.png" alt="">
<p style="margin-left: 20px;">_GAMEJOLT="<a class="entrada-lista" href="https://gamejolt.com/@Rack-Games">@Rack-Games</a>";</p>
<p style="margin-left: 20px;">_ITCHIO="<a class="entrada-lista" href="https://rack-games.itch.io">rack-games</a>";</p>
<p style="margin-left: 20px;">_YOUTUBE="<a class="entrada-lista" href="https://www.youtube.com/@rackgames">@rackgames</a>";</p>
<p style="margin-left: 20px;">_DISCORD="_yester.";</p>
<p style="margin-left: 20px;">_STEAM="[not_yet].";</p>
<p style="margin-left: 20px;">_OFFICIAL_WEBSITE="<a class="entrada-lista" href="/">rackgames.vercel.app</a>";</p>
<h1>}</h1><br>
<h1>Info = {</h1>
<p style="margin-left: 20px;">Contact as Yester or RackGamesDev for anything</p>
<h1>}</h1><br>

PONER IMAGENES Y ANIMACION