<h1>GAMES PUBLISHED TILL TODAY:</h1>
<div>
    <div id="contenedor-juegos">
        <div class="cuadrado-juego invisible" id="cuadro-juego-1">
            <img src="../public/portadas-cuadro/ippg2.png" alt="">
            <p>IPPG2 is the direct continuation of IPPG, a game where you dodge red blocks to reach a flag using boxes, teleporters, keys, etc. </p>
            <a href="/games/ippg2"><h2>IPPG2</h2></a>
        </div>
        <div class="cuadrado-juego invisible" id="cuadro-juego-2">
            <img src="../public/portadas-cuadro/pairedsteps.png" alt="">
            <p>Paired Steps is a little silly game about walking, you have to move your feet in order to reach the en without slipping</p>
            <a href="/games/pairedsteps"><h2>PAIRED STEPS</h2></a>
        </div>
        <div class="cuadrado-juego invisible" id="cuadro-juego-3">
            <img src="../public/portadas-cuadro/hectikal.png" alt="">
            <p>Hectikal is a 3d first person shooter whit weapons, enemies, power ups and physics and time modifications</p>
            <a href="/games/hectikal"><h2>HECTIKAL</h2></a>
        </div>
        <div class="cuadrado-juego invisible" id="cuadro-juego-4">
            <img src="../public/portadas-cuadro/spritznaya.png" alt="">
            <p>Spritznaya is an abstract RPG game with tourn based combat, dialogs, inventory system and choices that will affect the future</p>
            <a href="/games/spritznaya"><h2>SPRITZNAYA</h2></a>
        </div>
        <div class="cuadrado-juego invisible" id="cuadro-juego-5">
            <img src="../public/portadas-cuadro/ippg.png" alt="">
            <p>IPPG is a game where you are a green cube that has to reach the goal, overcoming puzzles and dodging red areas. And it have a boss mode and minigames mode</p>
            <a href="/games/ippg"><h2>IPPG</h2></a>
        </div>
        <div class="cuadrado-juego invisible" id="cuadro-juego-6">
            <img src="../public/portadas-cuadro/changertone.png" alt="">
            <p>Changertone is a game that changes when you complete the objective, you can try modes, buy power ups, complete challenges and achievements, etc.</p>
            <a href="/games/changertone"><h2>CHANGERTONE</h2></a>
        </div>
        <div class="cuadrado-juego invisible" id="cuadro-juego-7">
            <img src="../public/portadas-cuadro/plaixits.png" alt="">
            <p>The Plaixits are invading the drawings world! Plaixits! is a top-view stealth game where all are drawings and you must collect keys</p>
            <a href="/games/plaixits"><h2>PLAIXITS</h2></a>
        </div>
        <div class="cuadrado-juego invisible" id="cuadro-juego-8">
            <img src="../public/portadas-cuadro/juegocuadraos.png" alt="">
            <p>Juego Cuadraos es un juego en el que eres un päo cubico que invierte la gravedad pasando por sitios y esquivando cosas</p>
            <a href="/games/juegocuadraos"><h2>JUEGO CUADRAOS</h2></a>
        </div>
        
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let mostrando = 1;
            let interv0 = setInterval(()=>{
                document.getElementById("cuadro-juego-" + mostrando).classList.remove("invisible");
                mostrando++;
                if(mostrando > 8){
                    clearInterval(interv0);
                }
            }, 120);
        });
    </script>
</div>