<img class="invisible" id="logo-principal" src="../public/LogoGrandeO.png" alt="x"><br><br>
<h1 id="subtitulo-inicial">OFFICIAL WEBSITE OF RACK GAMES_</h1>

<h3>./Quick_Access:</h3>
<ul>
    <li class="invisible" id="lista-principal-1"><a class="entrada-lista" href="/games">/Games</a> >_</li>
    <li class="invisible" id="lista-principal-2"><a class="entrada-lista" href="/about">/About</a> >_</li>
    <li class="invisible" id="lista-principal-3"><a class="entrada-lista" href="/morestuff">/Soundtrack</a> >_</li>
    <li class="invisible" id="lista-principal-4"><a class="entrada-lista" href="/morestuff">/Art</a> >_</li>
    <li class="invisible" id="lista-principal-5"><a class="entrada-lista" href="/contacts">/Contact</a> >_</li>
    <li class="invisible" id="lista-principal-6"><a class="entrada-lista" href="http://anarchat.vercel.app/" target="_blank">/Anarchat</a> >_</li>
    <li class="invisible" id="lista-principal-7"><a class="entrada-lista" href="/morestuff">/Stuff</a> >_</li>
    <li class="invisible" id="lista-principal-8"><a class="entrada-lista" href="/err404">/Projects</a> >_</li>
</ul><br><br>
<h3>./Some_About:</h3>
<p id="otro-texto-abajo"></p>
<img id="img-pao-inicio" src="../public/pao128.png" alt="hiiiii" class="invisible">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<script>
    document.addEventListener("DOMContentLoaded", (e) => {

        setTimeout(()=>{
            document.getElementById("logo-principal").classList.remove("invisible");
        }, 80);

        setTimeout(()=>{
            document.getElementById("img-pao-inicio").classList.remove("invisible");
        }, 5000);

        let barra = true;
        setInterval(()=>{
            barra = !barra;
            if(barra){
                document.getElementById("subtitulo-inicial").innerHTML = "OFFICIAL WEBSITE OF RACK GAMES_";
            } else {
                document.getElementById("subtitulo-inicial").innerHTML = "OFFICIAL WEBSITE OF RACK GAMES";
            }
        },500);

        let texto = "A tiny game studio (one person) who makes silly games and projects sometimes :) \n Dont forget to contact for anything!";
        let textoAvance = 0;
        let $otroTextoAbajo = document.getElementById("otro-texto-abajo");
        let inter1 = setInterval(()=>{
            if($otroTextoAbajo.innerHTML != texto){
                textoAvance++;
                $otroTextoAbajo.innerHTML = "";
                for(let i = 0; i<textoAvance; i++){
                    $otroTextoAbajo.innerHTML += texto.charAt(i);
                }
            } else {
                clearInterval(inter1);
            }
        }, 20);

        let puestas = 1;
        let inter2 = setInterval(()=>{
            document.getElementById("lista-principal-" + puestas).classList.remove("invisible");
            puestas++;
            if(puestas === 9){
                clearInterval(inter2);
            }
        }, 50);
    });
</script>