<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
</head>
<body>
<br>
<div id="barra">
    <div class="elemento-barra no-borde"><a href="/" id="enlace-principal"><img class="imgG3" src="public/LogoPng8.png" alt="Rack Games">Rack Games</a></div>
    <div class="elemento-barra"><a href="/contacts" class="minilink">Contacts</a></div><!-- .minilink-activado -->
    <div class="elemento-barra"><a href="/about" class="minilink">About</a></div>
    <div class="elemento-barra"><a href="/games" class="minilink">Games</a></div>
    <div class="elemento-barra"><a href="#" class="minilink">&larr;\</a></div>
</div>
<br><br><br><br><br><br>