:root{
    --tamagno-barra: -700px;
}
body{
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    
    min-height: 100vh;
}
img{
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
}
a{
    color: white;
}
footer{
    width: 105%;
    border-top: 1px solid white;
    padding-left: 10px;
    position: relative;
    left: -10px;
}
h1,h2,h3,h4,h5,h6{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
li>*{
    font-size: 1.7rem;
}
p{
    font-size: 1.2rem;
    padding: 10px;
}


#img-footer{
    width: 32px;
    height: 32px;
    display: inline-block;
}
#barra{
    border: 2px solid white;
    padding: 0;
    margin: auto;
    transform: translate(-20px,0);
    background-color: black;
    position: absolute;
    transition: left 1s;
    left: -10;
    z-index: 999;
}
.barra-escondida{
    left: var(--tamagno-barra);
}
.elemento-barra{
    display: inline-block;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: 2rem;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    line-height: 2.6rem;
}
#mas-barra{
    width: 100%;
    position: fixed;
}



#logo-principal{
    width: 50vw;
    height: 100%;
}
.entrada-lista{
    background-color: transparent;
}
.entrada-lista:hover{
    font-weight: bolder;
    box-shadow: 0px 0px 30px white;
}
.entrada-contacto>*{
    display: inline-block;
}
.entrada-contacto>img{
    width: 25px;
    height: 25px;
    margin-left: 35px;
    display: inline-block;
    transform: translate(0, 5px);
    z-index: -1;
    position:sticky;
}


#contenedor-juegos{
    width: 80%;
    margin: 10px;
    text-align: center;
}
.cuadrado-juego{
    margin: 10px;
    border: 2px solid white;
    width: 300px;
    height: 720px;
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
    height: 500px;
}
.cuadrado-juego>p{
    font-size: 1rem;
}
.cuadrado-juego>p{
    height: 100px;
}
.titulo-cuadro-juego{
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    height: 10px;
    transform: translate(0,-36px);
    font-weight: bolder;   
}
.enlaces-cuadro-juego{
    display: inline-block;
    height: 30px;
}
.enlaces-cuadro-juego>a{
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-bottom: none;
    display: inline-block;
    width: 100px;
    padding: 0;
    margin: 1px;
    font-size: 0.8rem;
    
}
.enlaces-cuadro-juego>a:hover{
    color: white;
    background-color: black;
}


.contenido-stuff{
    margin-left: 50px;
}
.contenido-stuff>p{
    margin-top: 0;
    margin-bottom: 0;
}
.contenido-stuff a:hover{
    font-weight: bolder;
    box-shadow: 0px 0px 30px white;
}
.img-entrada-stuff{
    margin-right: 10px !important;
    transform: translate(0, 5px);
}


.tapar-juego{
    z-index: 999;
    background-color: black;
    position: absolute;
    width: 300px;
    height: 500px;
}
.imgG3{
    width: 54px;
    height: 54px;
    image-rendering: pixelated;
    z-index: -1;
}
.minilink{
    text-decoration: none;
    font-size: 1.2rem;
    margin: 6px;
}
.minilink:hover{
    font-size: 1.5rem;
    text-decoration: solid;
}
.minilink-activado{
    background-color: white;
    color: black;
}
.minilink-activado>a{
    color: black;
}
.no-borde{
    border: none;
}
#enlace-principal{
    display: inline;
    text-align: center;
}
.invisible{
    display: none;
}
.solo-peque{
    display: none;
}
.solo-grande{
    display: inline;
}

@media (max-width: 782px){
    #mas-barra{
        position: block;
    }
    #barra{
        border: 2px solid white;
        background-color: black;
        position: block;
        width: 105%;
        text-align: center;
    }
    .elemento-barra{
        display: inline-block;
        border: 1px solid white;
        font-size: 1.3rem;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        line-height: 2.6rem;
        margin-bottom: 5px;
    }
    .barra-escondida{
        left: 0;
    }
    #enlace-principal{
        display: inline;
        text-align: center;
        font-size: 3rem;
    }

    .solo-peque{
        display: inline;
    }
    .solo-grande{
        display: none;
    }
}